body {
    font-family: monospace;
    margin: 0;
}
p {
    display: inline-block;
    line-height: 0px;
    margin: 5px;
    padding: 5px;
}
#title {
    position: relative;
    width: 600px;
    margin: 0 auto; 
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 6px;
    height: auto;
    padding: 10px;
    margin-top: 10px;
}
#title_name {
    background-color: #f7f7f7;
    width: auto;
    height: auto;
    padding: 5px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
#mode {
    display: flex;
    position: relative;
    width: 600px;
    margin: 0 auto; 
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 6px;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
}
.a_act{
    width: 100px;
    height: auto;
    padding: 5px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 6px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none
}
.a_deact {
    width: 100px;
    height: auto;
    padding: 5px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 6px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none
}
.a_act:link, .a_act:visited {
    color: black;
    background-color: #f7f7f7;
}

.a_deact:link, .a_deact:visited {
    color: black;
    background-color: rgb(175, 175, 175);
}
.a_deact:hover, .a_deact:active {
    color: black;
    background-color: #f7f7f7;
}


#midsec {
    position: relative;
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 6px;
    width: 600px;
    height: auto;
    margin: 0 auto; 
    padding: 10px;
    margin-top: 10px;
    display: flex;
}
#midsec_main {  
    background-color:#f7f7f7;
    width: auto;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 6px;
    padding: 5px;
    height: auto;
}
#input1, #calbut {
    background-color: white; 
    color:black;
    text-align: center;
}
#midsec_sup {
    background-color:#f7f7f7;
    width: 144px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 6px;
    padding: 5px;
    height: auto;
    margin-left: 10px;
}
#resultdis {
    border: 1px solid rgb(175, 175, 175);
    background-color: white; 
    color:black;
    text-align: center; 
    width: 100px;
}
.but {
    background-color: white; 
    width: 29px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-weight: bold;
    text-align: center;
    height: 27px;
}
#calbut {
    width: auto;
}
#botsec {
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 6px;
    width: 600px;
    height: auto;
    margin: 0 auto; 
    padding: 10px;
    margin-top: 10px;
    display: flex;
}
#inbotsec {
    background-color:#f7f7f7;
    width: auto;
    height: auto;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 6px;
    padding: 5px;
}
table , th , td{
}